Router outlet of dashboard:<br>
<div style="border: solid 1px black;">
  <br>
  <router-outlet></router-outlet><br>
</div>
<hr>
<button (click)="addAuth()">Add Auth Data</button>
<button (click)="removeAuth()">Remove Auth Data</button>
<hr>
<button routerLink="/vd30/dashboard/child">Go to Dashboard child<br>(ActivateChild guard)</button>
<button routerLink="/vd30/feature1">Go to Feature1<br>(Activate guard)</button>
<button routerLink="/vd30/feature2">Go to Feature2<br>(Deactivate guard)</button>
<button routerLink="/vd30/feature3">Go to Feature3<br>(CanLoad guard)</button>
